name: Code Coverage

on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

jobs:
  gen_cov_report:
    name: Gen Code Cov Report
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        build_config: [Debug, Release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Install suitable compiler
        run: sudo apt-get install g++-10

      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install CMake
        uses: jwlawson/actions-setup-cmake@v1.8
        with:
          cmake-version: '3.21.0'

      - name: Install lcov
        run: sudo apt-get install lcov

      - name: Generate Project
        env:
          gcc_compiler_version: -10
        run: cmake --preset="GCC" -DCRK_GEN_CODECOV_REPORT=1

      - name: Build crk
        run: cmake --build --preset="GCC ${{ matrix.build_config }}" --target crkTests

      - name: Generate pre-test coverage report
        run: lcov --no-external --capture --initial --directory "Build/GCC" --output-file pretest_coverage.info

      - name: Run Tests
        run: ctest --preset="GCC ${{ matrix.build_config }}"

      - name: Generate post-test coverage report
        run: lcov --no-external --capture --directory "Build/GCC" --output-file posttest_coverage.info
        
      - name: Merge coverage reports
        run: lcov --add-tracefile pretest_coverage.info --add-tracefile posttest_coverage.info --output-file coverage.info

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.info
          fail_ci_if_error: true
          verbose: true