name: Linux

on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

jobs:
  ubuntu_clang:
    name: Ubuntu | Clang
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        build_config: [Release, Debug]
        clang_version: [7, 8, 9, 10, 11, 12]
        cpp_version: [17, 20]
        exclude:
          - clang_version: 7
            cpp_version: 20
          - clang_version: 8
            cpp_version: 20
          - clang_version: 9
            cpp_version: 20

    env:
      clang_compiler_version: -${{ matrix.clang_version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Install suitable compiler
        run: sudo apt-get install clang++-${{ matrix.clang_version }}

      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install CMake
        uses: jwlawson/actions-setup-cmake@v1.8
        with:
          cmake-version: '3.21.0'
          
      - name: Generate Project
        run: |
          cmake --list-presets=all
          cmake --preset="Clang" -DCRK_MIN_CXX_STD_VERSION=${{ matrix.cpp_version }} -DCRK_DEV=1

      - name: Build crk
        run: cmake --build --preset="Clang ${{ matrix.build_config }}"

      - name: Run Tests
        run: ctest --preset="Clang ${{ matrix.build_config }}"

  ubuntu_gcc:
    name: Ubuntu | GCC
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        build_config: [Release, Debug]
        gcc_version: [7, 8, 9, 10, 11]
        cpp_version: [17, 20]
        exclude:
          - gcc_version: 7
            cpp_version: 20
          - gcc_version: 8
            cpp_version: 20
          - gcc_version: 9
            cpp_version: 20

    env:
      gcc_compiler_version: -${{ matrix.gcc_version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Install suitable compiler
        run: sudo apt-get install g++-${{ matrix.gcc_version }}

      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install CMake
        uses: jwlawson/actions-setup-cmake@v1.8
        with:
          cmake-version: '3.21.0'

      - name: Generate Project
        run: cmake --preset="GCC" -DCRK_MIN_CXX_STD_VERSION=${{ matrix.cpp_version }} -DCRK_DEV=1

      - name: Build crk
        run: cmake --build --preset="GCC ${{ matrix.build_config }}"

      - name: Run Tests
        run: ctest --preset="GCC ${{ matrix.build_config }}"