name: Big Endian Linux

on:
  push:
    branches:
      - bigendian-ci-setup

jobs:
  ubuntu_clang_s390x:
    name: ${{ matrix.distro }} | Clang | ${{ matrix.arch }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        build_config: [Release] #, Debug
        clang_version: [12]
        cpp_version: [17] #, 20
        arch: [armv7]
        distro: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2.1.0
      - uses: uraimo/run-on-arch-action@v2
        name: Build artifact
        id: build
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}

          # Speeds up builds by caching container image
          githubToken: ${{ github.token }}

          # Create an artifacts directory
          setup: |
            mkdir -p "${PWD}/artifacts"

          # Mount the artifacts directory as /artifacts in the container
          dockerRunArgs: |
            --volume "${PWD}/artifacts:/artifacts"
            --volume "${PWD}:/crk_root"

          # Forward matrix variables to the container
          env: |
            build_config: ${{ matrix.build_config }}
            clang_version: ${{ matrix.clang_version }}
            cpp_version: ${{ matrix.cpp_version }}

          # The shell to run commands with in the container
#          shell: /bin/sh

          # Install some dependencies in the container. This speeds up builds if
          # you are also using githubToken. Any dependencies installed here will
          # be part of the container image that gets cached, so subsequent
          # builds don't have to re-install them. The image layer is cached
          # publicly in your project's package repository, so it is vital that
          # no secrets are present in the container state or logs.
          #install: |
          #  sudo apt-get update -q -y

          #  sudo apt-get install -y git
          #  sudo apt-get install ninja-build
            
          #  sudo apt purge --auto-remove cmake
          #  wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | sudo tee /etc/apt/trusted.gpg.d/kitware.gpg >/dev/null
          #  sudo apt-add-repository "deb https://apt.kitware.com/ubuntu/ $(lsb_release -cs) main"
          #  sudo apt update
          #  sudo apt install cmake

          #  sudo apt-get install clang++-${ clang_version }

          run: |
            cd /crk_root
            apt-get install tree
            tree

  #armv7_job:
  #  # The host should always be Linux
  #  runs-on: ubuntu-18.04
  #  name: Build on ubuntu-18.04 armv7
  #  steps:
  #    - uses: actions/checkout@v2.1.0
  #    - uses: uraimo/run-on-arch-action@v2
  #      name: Run commands
  #      id: runcmd
  #      with:
  #        arch: armv7
  #        distro: ubuntu18.04

  #        # Not required, but speeds up builds by storing container images in
  #        # a GitHub package registry.
  #        githubToken: ${{ github.token }}

  #        # Set an output parameter `uname` for use in subsequent steps
  #        run: |
  #          uname -a
  #          echo ::set-output name=uname::$(uname -a)

  #    - name: Get the output
  #      # Echo the `uname` output parameter from the `runcmd` step
  #      run: |
  #        echo "The uname output was ${{ steps.runcmd.outputs.uname }}"


#/home/runner/work/_actions/uraimo/run-on-arch-action/v2/src/run-on-arch.sh /home/runner/work/_actions/uraimo/run-on-arch-action/v2/Dockerfiles/Dockerfile.armv7.ubuntu18.04 run-on-arch-jsoysouvanh-crk-big-endian-linux-armv7-ubuntu18-04
#/home/runner/work/_actions/uraimo/run-on-arch-action/v2/src/run-on-arch.sh /home/runner/work/_actions/uraimo/run-on-arch-action/v2/Dockerfiles/Dockerfile.armv7.ubuntu18.04 run-on-arch-jsoysouvanh-crk-big-endian-linux-armv7-ubuntu18-04 --volume ${PWD}/artifacts:/artifacts --volume ${PWD}:/crk_root -ebuild_config -eclang_version -ecpp_version