name: MacOS

on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

jobs:
  macos_clang:
    name: MacOS | Clang
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        build_config: [Release, Debug]
        cpp_version: [20]
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install CMake
        uses: jwlawson/actions-setup-cmake@v1.8
        with:
          cmake-version: '3.21.0'

      - name: Generate Project
        run: cmake --preset="Clang" -DCRK_MIN_CXX_STD_VERSION=${{matrix.cpp_version}} -DCRK_DEV=1 -DCRK_TESTS_OUTPUT_DIR="${PWD}/TestsOutput" -DCRK_TESTS_OUTPUT_FILENAME="MacOS_${{ matrix.build_config }}_cpp${{ matrix.cpp_version }}"

      - name: Build crk
        run: cmake --build --preset="Clang ${{ matrix.build_config }}" --target crkEndiannessTests crkWriteToArchiveTests crkIntegerTraitsTests

      - name: Run Tests
        run: ctest --preset="Clang ${{ matrix.build_config }}" -E crkReadFromArchiveTests

      - name: Upload Output File(s)
        uses: actions/upload-artifact@v3
        with:
          name: TestsOutput
          path: ./TestsOutput
          retention-days: 1